.title-format{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.column {
    float: left;
}
.menu {
    width: 33%;
    text-align: center;
}
.content {
    width: 66%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}